.game-settings
    width: 100%
    outline: 2px solid red
    &__title
        margin-bottom: 30px
        font-family: Ruda
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 30px
        color: #000000
        text-align: center
    &__form-wrapper
        max-width: 550px
        display: flex
        flex-direction: column
        row-gap: 25px
    &__round-time
        width: 100%
        display: flex
        justify-content: space-between
        &__title
            font-family: Ruda
            font-style: normal
            font-weight: bold
            font-size: 24px
            line-height: 30px
            color: #000000
    &__label
        width: 100%
        display: flex
        justify-content: space-between
    &__span
        font-family: Roboto
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 28px
        color: #000000
    &__input
        background: #FFFFFF
        border: 1px solid #2B3A67
        box-sizing: border-box
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 0px 0px 0px 10px
        width: 325px
        height: 37px
        font-family: Roboto
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 28px
        color: #000000
    &__select-cover-wrapper,
    &__add-card-values-wrapper
        width: 100%
        display: flex
        flex-direction: column
        row-gap: 30px
    &__game-cards-wrapper
        width: 100%
        display: flex
        flex-wrap: wrap
        row-gap: 10px
        column-gap: 20px

    &__game-cards-title
        font-family: Ruda
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 30px
        color: #000000

    &__card-set
        &__wrapper
            width: 100%
            display: flex
            flex-direction: column
            row-gap: 10px

        &__label
            width: 100%
            display: flex
            column-gap: 20px
            cursor: pointer

            font-family: Ruda
            font-style: normal
            font-weight: bold
            font-size: 20px
            line-height: 20px
            color: #000000
        &__input
            width: 20px
            height: 20px
            cursor: pointer
