$k: 1
$k-small: 1.66
$k-chat-card: 2

// Card
@mixin card-large-text
  font-size: calc(48px / #{$k})
  font-weight: 300
@mixin card-small-text
  font-size: calc(10px / #{$k})
  font-weight: 300

@mixin card-width-height-margin
  margin: calc(5px / #{$k})
  width: calc(480px / #{$k})
  height: calc(120px / #{$k})

.card
  @include card-width-height-margin
  display: flex
  align-items: center
  justify-content: space-around
  padding-left: calc(20px / #{$k})
  border-radius: 5px
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25)
  &__title
    @include card-large-text
  &__subtitle
    @include card-small-text
  &__its-you
    @include card-small-text
    font-weight: bold

// Small card
@mixin small-card-large-text
  font-size: calc(48px / #{$k-small})
  font-weight: 300
@mixin small-card-small-text
  font-size: calc(16px / #{$k-small})
  font-weight: 300

@mixin small-card-width-height-margin
  margin: calc(5px / #{$k-small})
  width: calc(480px / #{$k-small})
  height: calc(120px / #{$k-small})

.small
  @include small-card-width-height-margin
  display: flex
  align-items: center
  justify-content: space-around
  padding-left: calc(20px / #{$k-small})
  border-radius: 5px
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25)

.small-title
  @include small-card-large-text
.small-subtitle
  @include small-card-small-text

// Chat card
@mixin chat-card-large-text
  font-size: calc(40px / #{$k-chat-card})
  font-weight: 300
@mixin chat-card-small-text
  font-size: calc(16px / #{$k-chat-card})
  font-weight: 300

@mixin chat-card-width-height-margin
  margin: calc(5px / #{$k-chat-card})
  width: calc(350px / #{$k-chat-card})
  height: calc(120px / #{$k-chat-card})

.chat-card
  @include chat-card-width-height-margin
.chat-title
  @include chat-card-large-text
.chat-subtitle
  @include chat-card-small-text
