.game
  &__scram-block
    display: flex
    justify-content: space-between
    align-items: center
    padding-right: 100px
  &__issues-block, &__issue-title, &__timer, &__issues, &__issue-buttons, &__issues-cards,  &-statistics, &__admin-not-in-game
    margin: 20px 10px
  &__issues
    display: flex
  &__issues-cards
    width: 400px
  &__issues-card
    margin: 20px
  &__issues-card-active
    padding: 2px
    border: 5px solid #60DABF
  &__issue-timer-buttons
    width: 60vw
  &__issue-buttons
    display: flex
    justify-content: space-around
  &__statistics, &__game-cards, &__statistic-cards
    display: flex
    flex-wrap: wrap
  &__admin-not-in-game
    color: #f37c7c
