.add-card
    &__card
        display: flex
        align-items: center
        justify-content: center
        width: 97px
        height: 161px
        border: 3px solid #EEEEEE
        box-sizing: border-box
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 1rem
    &__plus
        width: 50px
        height: 50px
        background-image: url('../../assets/img/plus.png')
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        cursor: pointer
        &:hover
            transform: scale(1.1)
