header
    height: 70px
    overflow: visible
    flex-basis: 70px

    /*ie10*/
    -ms-flex-preferred-size: 70px

    background: -moz-linear-gradient(180deg,#2B3A67 73%,#66999B 27%)
    background: -webkit-linear-gradient(180deg,#2B3A67 73%,#66999B 27%)
    background: linear-gradient(180deg,#2B3A67 73%,#66999B 27%)

    .header-container
        width: 100%
        display: flex
        justify-content: space-between

        &__logo
            margin: 19px 0px 0px 60px
            img
                width: 70px
                height: 70px

        &__menu
            margin: 13px 30px 0px 0px
            img
                width: 19px
                height: 14px
